<style>
    h1, h2 {
        background-color: lightgrey;
        color: black;
        text-align: center;
        margin: 30px;
        border: 2px solid darkgrey;
        font-family: Arial;
        /*Verdana og Arial er lettere å lese på pcskjermer
                enn feks times new roman
            */
    }

    body {
        background-image: url("img/bakgrunn.jpg");
    }

    div {
        float: left;
    }

    #først {
        clear: left;
    }

    div {
        border: 2px solid green;
        background-color: lightgreen;
        padding: 20px;
        margin: 5px;
    }
</style>
